<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>{% block title %}{% endblock %} - My Application</title>
    {% endblock %}
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body style="background-color:#f2f2f2">
<script src="../static/layui/layui.js"></script>



<ul class="layui-nav layui-nav-tree layui-nav-side">
  <span style="color:#BFC0C2;font-size: medium;margin-left: 20px;line-height: 50px;">图书管理系统</span>
  <li class="layui-nav-item">
    <a href="javascript:;">图书管理</a>
    <dl class="layui-nav-child">
      <dd><a href="javascript:;">入库管理</a></dd>
      <dd><a href="javascript:;">学生借书</a></dd>
      <dd><a href="">学生还书</a></dd>
      <dd><a href="">图书注销</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item">
    <a href="javascript:;">信息设置</a>
    <dl class="layui-nav-child">
      <dd><a href="">管理员设置</a></dd>
      <dd><a href="">图书馆信息设置</a></dd>
      <dd><a href="">图书词库设置</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item">
    <a href="javascript:;">图书信息查询</a>
  </li>
    <li class="layui-nav-item">
    <a href="javascript:;">学生信息查询</a>
  </li>
</ul>

<ul class="layui-nav" style="text-align:right;background-color:#FFFFFF;">
  <li class="layui-nav-item">
    <a href="" style="color:#000000">个人中心<span class="layui-badge-dot"></span></a>
     <dl class="layui-nav-child">
      <dd><a href="javascript:;">修改信息</a></dd>
      <dd><a href="javascript:;">退出系统</a></dd>
    </dl>
  </li>
</ul>

{% block body %}
{% endblock %}
<script>

layui.use('element', function(){
  var element = layui.element;
  element.init();
  //…
});
</script>
</body>
</html>