{% extends "base.html" %}
{% block title %}修改密码{% endblock %}

{% block body %}
<fieldset class="layui-elem-field layui-field-title">
  <legend>修改密码</legend>
  <div class="layui-field-box" style="font-size: large;line-height: 40px;">
      <form class="layui-form" method="post">
        {{ form.csrf_token }}
      <div class="layui-row">
          {{ form.old_password() }}
      </div>
      <div class="layui-row">
          {{ form.password() }}
      </div>
      <div class="layui-row">
          {{ form.password2() }}
      </div>
      {{ form.submit() }}
      </form>
  </div>
</fieldset>
{% endblock %}