{% extends "base.html" %}
{% block title %}查询图书信息{% endblock %}

{% block style %}
    .layui-unselect{width:240px;}
    .layui-input{width:240px;}
{% endblock %}

{% block card %}<div class="layui-card-header"><h2>查询图书信息</h2></div>{% endblock %}
{% block body %}
    <form class="layui-form" method="post">
    {{ form.csrf_token }}
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        {{ form.method(class="layui-input-inline") }}
                    </div>
                    <div class="layui-col-md6">
                        <label class="layui-form-label">查询内容：</label>
                        <div class="layui-input-inline">
                            {{ form.content(class="layui-input") }}
                        </div>
                    </div>
                    <div class="layui-col-md2">
                        <div class="layui-input-inline">{{ form.submit(class="layui-btn", id="search") }}</div>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <div id="myDiv"><h2>通过 AJAX 改变文本</h2></div>
    <table lay-filter="demo" lay-even>
      <thead>
        <tr>
          <th lay-data="{field:'isbn', width:180}">ISBN</th>
          <th lay-data="{field:'book_name', width:180}">书名</th>
          <th lay-data="{field:'press', width:140}">出版社</th>
          <th lay-data="{field:'author', width:100}">作者</th>
          <th lay-data="{field:'class_name', width:100}">类别</th>
          <th lay-data="{field:'count', width:120}">馆藏数量</th>
          <th lay-data="{field:'available'}">可借数量</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ flag }}</td>
          <td>66</td>
          <td>人生就像是一场修行a</td>
        </tr>
        <tr>
          <td>贤心2</td>
          <td>88</td>
          <td>人生就像是一场修行b</td>
        </tr>
        <tr>
          <td>贤心3</td>
          <td>33</td>
          <td>人生就像是一场修行c</td>
        </tr>
      <tr>
          <td>贤心3</td>
          <td>33</td>
          <td>人生就像是一场修行c</td>
        </tr>
      <tr>
          <td>贤心3</td>
          <td>33</td>
          <td>人生就像是一场修行c</td>
        </tr>
      <tr>
          <td>贤心3</td>
          <td>33</td>
          <td>人生就像是一场修行c</td>
        </tr>
      <tr>
          <td>贤心3</td>
          <td>33</td>
          <td>人生就像是一场修行c</td>
        </tr>
      </tbody>
    </table>

{% endblock %}

{% block script %}
    layui.use(['form','table','jquery'], function(){
        var form = layui.form;
        var table = layui.table;
        var $ = layui.$

        table.init('demo', {
              height: 390
              ,limit: 7
              ,page: true
        });
        $(document).ready(function(){
           $("#search").click(function(){
              htmlobj=$.ajax({
                type:'POST',
                url:'{{url_for("search_book")}}',
                data:$("#content").val(),
                dataType:'json',//希望服务器返回json格式的数据
                success:function(data){
                    alert(JSON.stringify(data));
                }
              });
           $("#myDiv").html(htmlobj.responseText);
        });
    });




    });
{% endblock %}

